<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <iframe src="http://automationinst1.sl.cloud9.ibm.com:5555/#/home" width="100%" height="800px">
        <p>Your browser does not support iframes.</p>
    </iframe>

</body>

</html>